doctype html
html
	head
		title= "Write a Post"
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css", rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lobster", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
		link(href="Favicon.ico", type="image/x-icon", rel="shortcut icon")
		link(href="CSS/Style.css", rel="stylesheet")
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
		script(src="JS/Script.js")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		block content
			h1.center Write away !	